.userBox {
	width: 100%;
	height: 100%;
	clear: left;
	margin: 0 auto;
	
}

.userContainer {
	height: 200px;
	img.profilePic {
		height: 100px
	}
	img.score {
		height: 40px;
	}
}

.profile {
	padding: 45px 5%;
}

.oddBox {
	background: #C9C7D3;
}

.hatScore {
	margin-top: 16px
}