.hatFormBox {
	margin-top: 5px;
}

.hats {
  width : 100%;
  margin : 0 auto;
  text-alignt : center;
  font-size: 22px;
  font-weight: 300;
  float: left;

  .hat-container {
    width : 100%;
    margin : 0 auto;
  }
}
